---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import WebLayout from "../../layouts/WebLayout.astro";
---

<WebLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
<p class="absolute top-0 left-0 bg-white z-50 w-screen h-screen flex items-center justify-center text-9xl neueHaas-medium">espaciovs.github.io</p>
</WebLayou>