---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import WebLayout from '../layouts/WebLayout.astro'
---

<WebLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="">
		<h1>Bienvenido</h1>
	</div>
</WebLayout>
