---
import { SITE_DESCRIPTION } from '../consts';
import WebLayout from '../layouts/WebLayout.astro'
---

<WebLayout title={"Sobre nosotros"} description={SITE_DESCRIPTION}>
	<div class="">
		<h1>Sobre nosotros</h1>
	</div>
</WebLayout>
