---
import { SITE_DESCRIPTION } from "../consts";
import WebLayout from "../layouts/WebLayout.astro";
---

<WebLayout title={"Sobre nosotros"} description={SITE_DESCRIPTION}>
	<div class="">
		<h1 class="text-xl pb-10">Sobre nosotros</h1>
		<p class="max-w-[900px]">
			El grupo de investigación VerSus está orientado hacia la exploración
			de entornos virtuales para el diseño de espacios. Contempla el
			trabajo en torno al corpus teórico y estado del arte del proyecto en
			ambos entornos. Cuenta con la participación de los expertos del
			diseño, arquitectura, animación, moda, multimedia y UX y sus
			tecnologías avanzadas específicas. A partir del ensayo y simulación
			de casos, utilización de herramientas de IA, IAG y otras, para el
			análisis de conflictos, resultados y algoritmos participados se
			quiere involucrar en las metodologías de trabajo para manejar
			entornos virtuales más transparentes y expertos. Junto a la
			vertiente especulativa, interesan también las investigaciones
			aplicadas a casos de estudio con implicaciones de patrimonio,
			sostenibilidad, trazabilidad y diseño emocional de los procesos para
			el diseño virtual. Todo ello con el objetivo de profundizar en la
			investigación transversal acerca de las condiciones del diseño de
			universos virtuales VerSus universos reales.
		</p>
	</div>
</WebLayout>
